.App {
    display: flex;
    flex-direction: rows;
    border: 3px solid orange;
    justify-content: space-evenly;
    background-color:greenyellow;
}

.button {
    text-decoration: none;
    border: 1px solid orange;
    color: white;
    background: orange;
    border-radius: 30px;
    padding: 20px;
}

.button-control {
    margin-top: 45px;
    text-align: center;
}